


#header {

    height: 100px;
    display: block;
    background-color: darkolivegreen;
    border-radius: 30px;
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#nav {
    list-style: none;



    display: inline-block;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    transition: 3s;


}

li:hover {
    background-color: darkmagenta;

}


#footer {
    background-color: darkolivegreen;
    height: 100px;
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
}

#map
{
    margin-top: 50px;
    height: 500px;
    margin-left: 50px;
}
